// Colors
$green: #2ECC71;
$grey: #959d9e;
$light-grey: #c5c4c4;
$dark-grey: #535353;
$grey-blue: #34495E;
$off-white: #ECF0F1;
$orange: #E98651;
$purple: #8E44AD;

// Spacing
$xs-size: 0.4rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 450px;